{% extends "layout/admin.html" %}

{% block jquery %}

{% endblock %}

{% block page_content %}
<div class="list-page">
	<div class="page-header">
		<span>{{ _('Uploads') }}</span>
		<div class="pull-right m-t-10">
			{% include "block/_select_items.html" %}
			<button type="button" data-form-id="form-uploads" class="btn btn-icon btn-danger delete-all hidden" data-toggle="tooltip" data-original-title="{{ _('Remove') }}">
				<i class="fa fa-trash-o"></i>
			</button>
		</div>
	</div>

	<div class="card-box table-responsive">

	</div>

</div>
{% endblock %}