{% extends pjax("layout/admin.html") %}

{% block page_content %}
<div class="form-page">
	<div class="page-header">
		<span>
			{% if mode == 'create' %}
				{{ _('Add Category') }}
			{% else %}
				{{ _('Edit Category') }}
			{% endif %}
		</span>

		<div class="pull-right m-t-10">
			<button type="submit" form="form-category" class="btn btn-icon btn-primary waves-effect waves-light" data-toggle="tooltip" data-original-title="{{ _('Save') }}">
				<i class="fa fa-save"></i>
			</button>
			<a href="{{ url_for('admin.show_categories') }}" class="btn btn-icon btn-default waves-effect waves-light" data-toggle="tooltip" data-original-title="{{ _('Cancel') }}">
				<i class="fa fa-reply"></i>
			</a>
		</div>
	</div>

	<div class="card-box">
		<form class="form-horizontal" role="form" method="post" id="form-category" action="">
			{{ form.hidden_tag() }}

			<ul class="nav nav-tabs nav-tabs-google">
				<li class="active">
					<a href="#tab-general" data-toggle="tab">{{ _('General') }}</a>
				</li>
				<li>
					<a href="#tab-data" data-toggle="tab">{{ _('Data') }}</a>
				</li>
			</ul>

			<div class="tab-content m-t-30">
				<div id="tab-general" class="tab-pane active">
					<ul class="nav nav-tabs" id="language">
						{% for lang in languages %}
						<li {% if loop.first %}class="active"{% endif %}>
							<a href="#language{{ lang.id }}" data-toggle="tab" aria-expanded="true">
								<img src="{{ lang.icon.view_url }}" title="{{ lang.name }}"> {{ lang.name }}
							</a>
						</li>
						{% endfor %}
					</ul>

					<div class="row">
						<div class="col-md-9">
							<div class="tab-content m-t-20">
								{% for lang in languages %}
								<div id="language{{ lang.id }}" class="tab-pane {% if loop.first %} active{% endif %}">
									<div class="form-group required">
										<label class="col-md-3 control-label">{{ _('Category Name') }}</label>
										<div class="col-md-9">
											<input class="form-control" name="category_description[{{ lang.id }}][name]" value="{% if all_descriptions %}{{ all_descriptions[lang.id]['name'] }}{% endif %}" type="text">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">{{ _('Description') }}</label>
										<div class="col-md-9">
											<textarea class="form-control" name="category_description[{{ lang.id }}][description]">{% if all_descriptions %}{{ all_descriptions[lang.id]['description'] }}{% endif %}</textarea>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
						<div class="col-md-3">
							<div class="alert alert-warning m-t-20">
								<i class="fa fa-info-circle"></i> {{ _('Different language options') }}
							</div>
						</div>
					</div>

				</div>

				<div id="tab-data" class="tab-pane">
					<div class="row">
						<div class="col-md-9">
							<div class="form-group">
								{{ form.parent_id.label(class="col-md-3 control-label") }}
								<div class="col-md-9">
									<select name="parent_id" class="form-control select2">
										<option value="0">{{ _('Select parent category') }}</option>
										{% for cate in paginated_categories %}
										<option value="{{ cate.id }}" {% if category.parent_id == cate.id %}selected="selected"{% endif %}>{{ cate.name|safe }}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<div class="form-group">
								{{ form.top.label(class="col-md-3 control-label") }}
								<div class="col-md-9">
									<div class="checkbox checkbox-primary">
										<label>
											{{ form.top() }} {{ _('Yes') }}
										</label>
									</div>
								</div>
							</div>

							<div class="form-group">
								{{ form.icon.label(class="col-md-3 control-label") }}
								<div class="col-md-9">
									{% if mode == 'create' %}
									<a href="javascript:void(0);" id="icon_thumb_image" data-target="icon" data-toggle="image" class="img-thumbnail" data-original-title="" aria-describedby="">
										<img src="{{ url_for('static', filename='images/no_image-100x100.png') }}" width="100px" data-placeholder="{{ url_for('static', filename='images/no_image-100x100.png') }}">
									</a>
									{% else %}
									<a href="javascript:void(0);" id="icon_thumb_image" data-target="icon" data-toggle="image" class="img-thumbnail" data-original-title="" aria-describedby="">
										<img src="{{ category.icon.view_url|default(url_for('static', filename='images/no_image-100x100.png')) }}" width="100px" data-placeholder="{{ url_for('static', filename='images/no_image-100x100.png') }}">
									</a>
									{% endif %}
									{{ form.icon(id="icon_id", type="hidden")}}
								</div>
							</div>

							<div class="form-group">
								{{ form.cover.label(class="col-md-3 control-label") }}
								<div class="col-md-9">
									{% if mode == 'create' %}
									<a href="javascript:void(0);" id="cover_thumb_image" data-target="cover" data-toggle="image" class="img-thumbnail" data-original-title="" aria-describedby="">
										<img src="{{ url_for('static', filename='images/no_image-100x100.png') }}" width="100px" data-placeholder="{{ url_for('static', filename='images/no_image-100x100.png') }}">
									</a>
									{% else %}
									<a href="javascript:void(0);" id="cover_thumb_image" data-target="cover" data-toggle="image" class="img-thumbnail" data-original-title="" aria-describedby="">
										<img src="{{ category.cover.view_url|default(url_for('static', filename='images/no_image-100x100.png')) }}" width="100px" data-placeholder="{{ url_for('static', filename='images/no_image-100x100.png') }}">
									</a>
									{% endif %}
									{{ form.cover(id="cover_id", type="hidden")}}
								</div>
							</div>

							<div class="form-group">
								{{ form.sort_order.label(class="col-md-3 control-label") }}
								<div class="col-md-9">
									{{ form.sort_order(class='form-control') }}
									<span class="help-block">
										{{ _('The smaller the value, the better the sorting.') }}
									</span>
								</div>
							</div>

							<div class="form-group">
								{{ form.status.label(class="col-md-3 control-label") }}
								<div class="col-md-9">
									{{ form.status(class='form-control select2') }}
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</form>

	</div>
</div>
{% endblock %}