{% extends pjax('layout/admin.html') %}

{% block page_content %}
<div class="list-page">
	<div class="page-header">
		<span>{{ _('Category List') }}</span>

		<div class="pull-right m-t-10">
			{% include 'block/_select_items.html' %}
			<a class="btn btn-default" href="{{ url_for('admin.repair_category_path') }}" data-toggle="tooltip" title="" data-original-title="{{ _('Rebuild') }}">
				<i class="fa fa-refresh"></i>
			</a>
			<a href="{{ url_for('admin.create_category') }}" class="btn btn-icon btn-primary" data-toggle="tooltip" data-original-title="{{ _('Add New') }}">
				<i class="fa fa-plus"></i>
			</a>
			<button type="button" data-form-id="form-categories" class="btn btn-icon btn-danger delete-all hidden" data-toggle="tooltip" data-original-title="{{ _('Delete') }}">
				<i class="fa fa-trash-o"></i>
			</button>
		</div>
	</div>

	<div class="card-box table-responsive">
		<form id="form-categories" action="{{ url_for('admin.delete_category') }}" method="post">
			<table class="table table-bordered table-hover" role="grid">
				<thead>
					<tr role="row" class="active">
						<th class="text-center">
							<input name="check_all" type="checkbox" class="check-all">
						</th>
						<th class="text-center">{{ _('Icon') }}</th>
						<th>{{ _('Category Name') }}</th>
						<th class="text-center">{{ _('Sort Order') }}</th>
						<th class="text-right">{{ _('Status') }}</th>
						<th class="text-right">{{ _('Action') }}</th>
					</tr>
				</thead>

				<tbody>
				{% for cate in paginated_categories %}
				<tr role="row">
					<td class="text-center">
						<input name="selected[]" class="check-one" value="{{ cate.id }}" type="checkbox">
					</td>
					<td class="text-center">
						<img src="{{ cate.icon.view_url }}" width="60px">
					</td>
					<td>{{ cate.name|safe }}</td>
					<td class="text-center">{{ cate.sort_order }}</td>
					<td class="text-right">
						{% if cate.status %}
						<span class="indicator success">{{ _('Enabled') }}</span>
						{% else %}
						<span class="indicator warning">{{ _('Disabled') }}</span>
						{% endif %}
					</td>
					<td class="actions text-right">
						<a href="{{ url_for('admin.edit_category', id=cate.id) }}" class="btn btn-link" data-toggle="tooltip" data-original-title="{{ _('Edit') }}">
							{{ _('Edit') }}
						</a>
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>

			{% import "block/_macros.html" as macros %}
			<div class="pagesbar">
				<div class="pages-entries">
					Showing <strong>{{ pagination.offset_start|default(0) }}</strong> to <strong>{{ pagination.offset_end }}</strong> of <strong>{{ pagination.total }}</strong> entries (total <strong>{{ pagination.pages }}</strong> pages)
				</div>
				<div class="pull-right">
					{{ macros.pagination_widget(pagination, '.show_categories') }}
				</div>
			</div>
		</form>
	</div>

</div>
{% if is_pjax %}
<script type="text/javascript">
	mic.hook_check_all();
</script>
{% endif %}
{% endblock %}