{% extends "layout/admin.html" %}

{% block page_content %}
<div class="form-page">
	<div class="page-header">
		<span>
			{% if mode == 'create' %}
				{{ _('Add Currency') }}
			{% else %}
				{{ _('Edit Currency') }}
			{% endif %}
		</span>

		<div class="pull-right m-t-10">
			<button type="submit" form="form-currency" class="btn btn-icon btn-primary waves-effect waves-light" data-toggle="tooltip" data-original-title="{{ _('Save') }}">
				<i class="fa fa-save"></i>
			</button>
			<a href="{{ url_for('admin.show_currencies') }}" class="btn btn-icon btn-default waves-effect waves-light" data-toggle="tooltip" data-original-title="{{ _('Cancel') }}">
				<i class="fa fa-reply"></i>
			</a>
		</div>
	</div>

	<div class="card-box">
		<div class="alert alert-info">
			<i class="fa fa-info-circle"></i> 可以在后面的链接中找到所有的 ISO 货币代码及设定列表 <a href="http://www.xe.com/iso4217.php" target="_blank" class="btn-link">这里</a>。
			<button type="button" class="close" data-dismiss="alert">×</button>
		</div>
		<form class="form-horizontal" role="form" method="post" id="form-currency" action="">
			{{ form.hidden_tag() }}

			<div class="form-group required {% if form.errors.title %} has-error{% endif %}">
				<label class="col-md-2 control-label">{{ form.title.label }}</label>
				<div class="col-md-10">
					{{ form.title(maxlength=64, class='form-control') }}
					{% for error in form.errors.title %}
					<span class="help-block">{{ error }}</span><br>
					{% endfor %}
				</div>
			</div>

			<div class="form-group required {% if form.errors.code %} has-error{% endif %}">
				<label class="col-md-2 control-label">
					{{ form.code.label }}
					<small data-toggle="tooltip" data-original-title="如果为默认货币，不要改变。">
						<i class="fa fa-question-circle"></i>
					</small>
				</label>
				<div class="col-md-10">
					{{ form.code(class='form-control') }}
					{% for error in form.errors.code %}
					<span class="help-block">{{ error }}</span><br>
					{% endfor %}
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-label">
					{{ form.symbol_left.label }}
				</label>
				<div class="col-md-10">
					{{ form.symbol_left(class='form-control') }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-label">{{ form.symbol_right.label }}</label>
				<div class="col-md-10">
					{{ form.symbol_right(class='form-control') }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-label">{{ form.decimal_place.label }}</label>
				<div class="col-md-10">
					{{ form.decimal_place(class='form-control') }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-label">
					{{ form.value.label }}
					<small data-toggle="tooltip" data-original-title="如果是默认货币，将其设置为 1.00000 。">
						<i class="fa fa-question-circle"></i>
					</small>
				</label>
				<div class="col-md-10">
					{{ form.value(class='form-control') }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-label">
					{{ form.status.label }}
				</label>
				<div class="col-md-10">
					{{ form.status(class='form-control select2') }}
				</div>
			</div>

		</form>
	</div>
</div>
{% endblock %}