{% extends "layout/admin.html" %}

{% block page_content %}
<div class="list-page">
	<div class="page-header">
		<span>
			{{ _('Length Class List') }}
		</span>
		<div class="pull-right m-t-10">
			{% include 'block/_select_items.html' %}
			<a href="{{ url_for('admin.create_length') }}" class="btn btn-icon btn-primary" data-toggle="tooltip" data-original-title="{{ _('Add New') }}">
				<i class="fa fa-plus"></i>
			</a>
			<button type="button" data-form-id="form-lengths" class="btn btn-icon btn-danger delete-all hidden" data-toggle="tooltip" data-original-title="{{ _('Delete') }}">
				<i class="fa fa-trash-o"></i>
			</button>
		</div>
	</div>

	<div class="card-box table-responsive">
		<form id="form-lengths" action="{{ url_for('admin.delete_length') }}" method="post">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

			<table class="table table-bordered table-hover" role="grid">
				<thead>
					<tr role="row">
						<th class="text-center">
							<input name="check_all" type="checkbox" class="check-all">
						</th>
						<th class="text-center">{{ _('Length Title') }}</th>
						<th>{{ _('Length Unit') }}</th>
						<th>{{ _('Value') }}</th>
						<th class="text-right">{{ _('Action') }}</th>
					</tr>
				</thead>

				<tbody>
					{% for length in paginated_lengths.items %}
					<tr role="row">
						<td class="text-center">
							<input name="selected[]" class="check-one" value="{{ length.id }}" type="checkbox">
						</td>
						<td class="text-center">
							{{ length.length_descriptions[0].title }}
						</td>
						<td>{{ length.length_descriptions[0].unit }}</td>
						<td>{{ length.value }}</td>
						<td class="actions text-right">
							<a href="{{ url_for('admin.edit_length', id=length.id) }}" class="btn btn-link" data-toggle="tooltip" data-original-title="{{ _('Edit') }}">
								{{ _('Edit') }}
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</form>

		{% import "block/_macros.html" as macros %}
		<div class="pagesbar">
			<div class="pages-entries">
				Showing {{ paginated_lengths.offset_start }} to {{ paginated_lengths.offset_end }} of {{ paginated_lengths.total }} entries (total {{ paginated_lengths.pages }} pages)
			</div>
			<div class="pull-right">
				{{ macros.pagination_widget(paginated_lengths, '.show_lengths') }}
			</div>
		</div>

	</div>

</div>
{% endblock %}