{% extends pjax("layout/admin.html") %}

{% block page_content %}
<div class="list-page">
	<div class="page-header">
		<span>
			{{ _('Language List') }}
		</span>
		<div class="pull-right m-t-10">
			{% include 'block/_select_items.html' %}
			<a href="{{ url_for('admin.create_language') }}" class="btn btn-icon btn-primary pjax" data-toggle="tooltip" data-original-title="{{ _('Add New') }}">
				<i class="fa fa-plus"></i>
			</a>
			<button type="button" data-form-id="form-languages" class="btn btn-icon btn-danger delete-all hidden" data-toggle="tooltip" data-original-title="{{ _('Delete') }}">
				<i class="fa fa-trash-o"></i>
			</button>
		</div>
	</div>

	<div class="card-box table-responsive">
		<form id="form-languages" action="{{ url_for('admin.delete_language') }}" method="post">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

			<table class="table table-bordered table-hover" role="grid">
				<thead>
					<tr role="row">
						<th class="text-center">
							<input name="check_all" type="checkbox" class="check-all">
						</th>
						<th class="text-center">{{ _('Icon') }}</th>
						<th>{{ _('Language Name') }}</th>
						<th>{{ _('Language Code') }}</th>
						<th class="text-right">{{ _('Sort Order') }}</th>
						<th class="text-right">{{ _('Action') }}</th>
					</tr>
				</thead>

				<tbody>
					{% for lang in paginated_languages.items %}
					<tr role="row">
						<td class="text-center">
							<input name="selected[]" class="check-one" value="{{ lang.id }}" type="checkbox">
						</td>
						<td class="text-center">
							<img src="{{ lang.icon.view_url }}" width="16px">
						</td>
						<td>{{ lang.name }}</td>
						<td>{{ lang.code }}</td>
						<td class="text-right">{{ lang.sort_order }}</td>
						<td class="text-right">
							<a href="{{ url_for('admin.edit_language', id=lang.id) }}" class="btn btn-link pjax" data-toggle="tooltip" data-original-title="{{ _('Edit') }}">
								{{ _('Edit') }}
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</form>

		<div class="pagesbar">
			{% import "block/_macros.html" as macros %}

			<div class="pull-left">
				<div class="pages-entries">
					Showing {{ paginated_languages.offset_start }} to {{ paginated_languages.offset_end }} of {{ paginated_languages.total }} entries (total {{ paginated_languages.pages }} pages)
				</div>
			</div>
			<div class="pull-right">
				{{ macros.pagination_widget(paginated_languages, '.show_languages') }}
			</div>
		</div>
	</div>

</div>

{% if is_pjax %}
	<script type="text/javascript">
		mic.hook_tooltip_toggle();
		mic.hook_check_all();
		mic.hook_delete_all();
	</script>
{% endif %}

{% endblock %}