{% extends pjax("layout/admin.html") %}

{% block jquery %}
{#<script type="text/javascript">#}
	mic.hook_summer_editor();

	$('.btn.more-options').click(function () {
		var $this = $(this);
		if ($this.hasClass('dropup')) {
			$('#more-options').slideUp('normal', function () {
				$this.removeClass('dropup');
			});
		} else {
			$('#more-options').slideDown('normal', function () {
				$this.addClass('dropup');
			});
		}
	});
{#</script>#}
{% endblock jquery %}

{% block page_content %}
<div class="form-page">
	<div class="page-header">
		<span>
			{% if mode == 'create' %}
				{{ _('Add Product') }}
			{% else %}
				{{ _('Edit Product') }}
			{% endif %}
		</span>
		<div class="pull-right m-t-10">
			<button type="submit" form="form-product" class="btn btn-icon btn-primary" data-toggle="tooltip" data-original-title="{{ _('Save') }}">
				<i class="fa fa-save"></i>
			</button>
			<a href="{{ url_for('admin.show_products') }}" class="btn btn-icon btn-default pjax" data-toggle="tooltip" data-original-title="{{ _('Cancel') }}">
				<i class="fa fa-reply"></i>
			</a>
		</div>
	</div>

	<div class="card-box">
		<form class="form-horizontal" role="form" method="post" id="form-product" action="">
			{{ form.hidden_tag() }}

			<ul class="nav nav-tabs nav-tabs-google">
				<li class="active"><a href="#tab-general" data-toggle="tab">{{ _('General') }}</a></li>
				<li><a href="#tab-data" data-toggle="tab">{{ _('Data') }}</a></li>
			</ul>

			<div class="tab-content m-t-20">
				<div id="tab-general" class="tab-pane active">
					<ul class="nav nav-tabs" id="language">
						{% for lang in languages %}
						<li {% if loop.first %}class="active"{% endif %}>
							<a href="#language{{ lang.id }}" data-toggle="tab" aria-expanded="true">
								<img src="{{ lang.icon.view_url }}" title="{{ lang.name }}"> {{ lang.name }}
							</a>
						</li>
						{% endfor %}
					</ul>

					<div class="row">
						<div class="col-md-10">
							<div class="tab-content m-t-20">
								{% for lang in languages %}
								<div id="language{{ lang.id }}" class="tab-pane {% if loop.first %} active{% endif %}">
									<div class="form-group required">
										<label class="col-md-3 control-label">{{ _('Product Name') }}</label>
										<div class="col-md-9">
											<input class="form-control" name="product_description[{{ lang.id }}][name]" value="{% if all_descriptions %}{{ all_descriptions[lang.id]['name'] }}{% endif %}" type="text">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">{{ _('Product Description') }}</label>
										<div class="col-md-9">
											<textarea name="product_description[{{ lang.id }}][description]" class="form-control summernote">{% if all_descriptions %}{{ all_descriptions[lang.id]['description'] }}{% endif %}</textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">{{ _('Meta Title') }}</label>
										<div class="col-md-9">
											<input class="form-control" name="product_description[{{ lang.id }}][meta_title]" value="{% if all_descriptions %}{{ all_descriptions[lang.id]['meta_title'] }}{% endif %}" type="text">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">{{ _('Meta Description') }}</label>
										<div class="col-md-9">
											<textarea name="product_description[{{ lang.id }}][meta_description]" class="form-control">{% if all_descriptions %}{{ all_descriptions[lang.id]['meta_description'] }}{% endif %}</textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">{{ _('Meta keyword') }}</label>
										<div class="col-md-9">
											<textarea name="product_description[{{ lang.id }}][meta_keyword]" class="form-control">{% if all_descriptions %}{{ all_descriptions[lang.id]['meta_keyword'] }}{% endif %}</textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">
											{{ _('Tags') }}
											<small data-toggle="tooltip" data-original-title="英文逗号分割">
												<i class="fa fa-question-circle"></i>
											</small>
										</label>
										<div class="col-md-9">
											<input class="form-control" name="product_description[{{ lang.id }}][tag]" value="{% if all_descriptions %}{{ all_descriptions[lang.id]['tag'] }}{% endif %}" type="text">
										</div>
									</div>
								</div>
								{% endfor %}
							</div>

						</div>
					</div>

				</div>

				<div id="tab-data" class="tab-pane">
					<div class="row">
						<div class="col-md-9">
							<div class="form-group required">
								{{ form.sku.label(class="col-md-3 control-label") }}
								<div class="col-md-9">
									{{ form.sku(class="form-control", readonly="readonly") }}
								</div>
							</div>

							<div class="form-group required">
								{{ form.model.label(class="col-md-3 control-label") }}
								<div class="col-md-9">
									{{ form.model(class="form-control") }}
								</div>
							</div>

							<div class="form-group required">
								{{ form.cover.label(class="col-md-3 control-label") }}
								<div class="col-md-9">
									{% if mode == 'create' %}
									<a href="javascript:void(0);" id="cover_thumb_image" data-target="cover" data-toggle="image" class="img-thumbnail" data-original-title="" aria-describedby="">
										<img src="{{ url_for('static', filename='images/no_image-100x100.png') }}" width="100px" data-placeholder="{{ url_for('static', filename='images/no_image-100x100.png') }}">
									</a>
									{% else %}
									<a href="javascript:void(0);" id="cover_thumb_image" data-target="cover" data-toggle="image" class="img-thumbnail" data-original-title="" aria-describedby="">
										<img src="{{ category.cover.view_url|default(url_for('static', filename='images/no_image-100x100.png')) }}" width="100px" data-placeholder="{{ url_for('static', filename='images/no_image-100x100.png') }}">
									</a>
									{% endif %}

									{{ form.cover(class="form-control", type="hidden") }}
								</div>
							</div>

							<div class="form-group required">
								{{ form.price.label(class="col-md-3 control-label") }}
								<div class="col-md-9">
									{{ form.price(class="form-control") }}
								</div>
							</div>

							<div class="form-group required">
								{{ form.quantity.label(class="col-md-3 control-label") }}
								<div class="col-md-9">
									{{ form.quantity(class="form-control") }}
								</div>
							</div>

							<div class="form-group">
								{{ form.weight.label(class="col-md-3 control-label") }}
								<div class="col-md-9">
									{{ form.weight(class="form-control") }}
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">{{ _('Dimensions (L x W x H)') }}</label>
								<div class="col-md-9">
									<div class="row">
										<div class="col-sm-4">
											{{ form.length(class="form-control", placeholder="Length") }}
										</div>
										<div class="col-sm-4">
											{{ form.width(class="form-control", placeholder="Width") }}
										</div>
										<div class="col-sm-4">
											{{ form.height(class="form-control", placeholder="Height") }}
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">{{ _('Date Available') }}</label>
								<div class="col-md-4">
									<div class="input-group">
										<input class="form-control date" placeholder="yyyy-mm-dd" type="text">
										<span class="input-group-addon b-0">
											<i class="fa fa-calendar"></i>
										</span>
									</div>
								</div>
							</div>

							<button class="btn btn-primary more-options m-t-20" type="button">
								{{ _('More Options') }} <span class="caret"></span>
							</button>

							<div class="m-t-20" id="more-options" style="display: none;">

								<div class="form-group">
									<label class="col-md-3 control-label">{{ _('Require Shipping') }}</label>
									<div class="col-md-9">
										<label class="radio-inline">
											<input type="radio" name="shipping" value="1" checked="checked"> {{ _('Yes') }}
										</label>
										<label class="radio-inline">
											<input type="radio" name="shipping" value="-1" checked="checked"> {{ _('No') }}
										</label>
									</div>
								</div>

								<div class="form-group">
									{{ form.sort_order.label(class="col-md-3 control-label") }}
									<div class="col-md-9">
										{{ form.sort_order(class="form-control") }}
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 text-right">
										{{ form.upc.label(class="control-label") }}
										<small data-toggle="tooltip" data-original-title="Universal Product Code">
											<i class="fa fa-question-circle"></i>
										</small>
									</label>
									<div class="col-md-9">
										{{ form.upc(class="form-control") }}
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 text-right">
										{{ form.ean.label(class="control-label") }}
										<small data-toggle="tooltip" data-original-title="European Article Number">
											<i class="fa fa-question-circle"></i>
										</small>
									</label>
									<div class="col-md-9">
										{{ form.upc(class="form-control") }}
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 text-right">
										{{ form.jan.label(class="control-label") }}
										<small data-toggle="tooltip" data-original-title="Japanese Article Number">
											<i class="fa fa-question-circle"></i>
										</small>
									</label>
									<div class="col-md-9">
										{{ form.jan(class="form-control") }}
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 text-right">
										{{ form.isbn.label(class="control-label") }}
										<small data-toggle="tooltip" data-original-title="International Standard Book Number">
											<i class="fa fa-question-circle"></i>
										</small>
									</label>
									<div class="col-md-9">
										{{ form.isbn(class="form-control") }}
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 text-right">
										{{ form.mpn.label(class="control-label") }}
										<small data-toggle="tooltip" data-original-title="Manufacturer Part Number">
											<i class="fa fa-question-circle"></i>
										</small>
									</label>
									<div class="col-md-9">
										{{ form.mpn(class="form-control") }}
									</div>
								</div>

								<div class="form-group">
									{{ form.location.label(class="col-md-3 control-label") }}
									<div class="col-md-9">
										{{ form.location(class="form-control") }}
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-3 text-right">
										{{ form.mini_cnt.label(class="control-label") }}
										<small data-toggle="tooltip" data-original-title="Force a minimum ordered amount">
											<i class="fa fa-question-circle"></i>
										</small>
									</div>
									<div class="col-md-9">
										{{ form.mini_cnt(class="form-control") }}
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">{{ _('Subtract Stock') }}</label>
									<div class="col-md-9">
										<input class="form-control" name="subtract" type="text">
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">
										{{ _('Out Of Stock Status') }}
										<small data-toggle="tooltip" data-original-title="Stock Keeping Unit">
											<i class="fa fa-question-circle"></i>
										</small>
									</label>
									<div class="col-md-9">
										<input class="form-control" name="stock_status_id"  type="text">
									</div>
								</div>

							</div>


						</div>
						<div class="col-md-3">

						</div>
					</div>

				</div>
			</div>

		</form>
	</div>
</div>

{% if is_pjax %}
	<script type="text/javascript">
		mic.hook_tooltip_toggle();
		mic.hook_select2();
		mic.hook_summer_editor();
	</script>
{% endif %}

{% endblock %}