{% extends pjax("layout/admin.html") %}

{% block page_content %}
<div class="list-page">
	<div class="page-header">
		<span>{{ _('Product List') }}</span>

		<div class="pull-right m-t-10">
			{% include 'block/_select_items.html' %}
			<div class="btn-group">
				<button class="btn btn-default dropdown-toggle" type="button" id="storage-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					{{ _('Actions') }}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="storage-actions">
					<li><a href="#" class="ajax-modal" data-modal="in-stock-modal">{{ _('Print') }}</a></li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="#" class="ajax-modal" data-modal="in-stock-modal">
							{{ _('Export Stock') }}
						</a>
					</li>
				</ul>
			</div>
			<a href="{{ url_for('admin.create_product') }}" class="btn btn-icon btn-primary" data-toggle="tooltip" data-original-title="{{ _('Add New') }}">
				<i class="fa fa-plus"></i>
			</a>
			<button type="button" data-form-id="form-products" class="btn btn-icon btn-danger delete-all hidden" data-toggle="tooltip" data-original-title="{{ _('Delete') }}">
				<i class="fa fa-trash-o"></i>
			</button>
		</div>
	</div>

	<form class="form-inline filter-form" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

		<div class="form-group">
			<input type="text" class="form-control searcher" name="qk" size="60" placeholder="{{ _('Search products sku or name...') }}">
		</div>

		<div class="form-group pull-right">
			<div class="dropdown">
				<input type="hidden" name="sk" value="{{ sk|default('ad') }}">
				<button class="btn btn-flat-default dropdown-toggle" type="button" id="filter-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<i class="glyphicon glyphicon-sort-by-attributes-alt"></i> {{ _('Sort') }}: <b>{{ _('Add Date') }}</b>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right dropdown-select-menu" data-target="sk" aria-labelledby="filter-sort">
					<li class="dropdown-header">{{ _('Sort Order')}}</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="javascript:void(0);" data-id="ad" class="option">{{ _('Default') }}</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-id="ad" class="option">{{ _('Add Date') }}</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-id="ud" class="option">{{ _('Update Date') }}</a>
					</li>
				</ul>
			</div>
		</div>

	</form>

	<div class="card-box m-t-20 table-responsive">
		<form id="form-products" action="{{ url_for('admin.delete_product') }}" method="post">
			<table class="table table-bordered table-hover" role="grid">
				<thead>
					<tr role="row">
						<th class="text-center">
							<input name="check_all" type="checkbox" class="check-all">
						</th>
						<th class="text-center">{{ _('Image') }}</th>
						<th>{{ _('Product Info') }}</th>
						<th class="text-center">{{ _('Sku Info') }}</th>
						<th class="text-center">{{ _('Quantity') }}</th>
						<th class="text-right">{{ _('Price') }} ({{ current_site.default_currency_unit }})</th>
						<th class="text-right">{{ _('Status') }}</th>
						<th class="text-right">{{ _('Action') }}</th>
					</tr>
				</thead>

				<tbody>
					{% for product in paginated_products.items %}
					<tr role="row">
						<td class="text-center">
							<input name="selected[]" class="check-one" value="{{ product.id }}" type="checkbox">
						</td>
						<td class="text-center">
							<img src="{{ product.cover.view_url }}" width="60px">
						</td>
						<td>
							{{ product.default_description(current_site.default_language).name }} <br>
							<strong class="text-danger">ID: {{ product.serial_no }}</strong>
						</td>
						<td class="text-center">{{ product.model }}</td>
						<td class="text-center">{{ product.quantity }}</td>
						<td class="text-right">{{ product.price|round(precision=2) }}</td>
						<td class="text-right">
							<span class="indicator {{ product.status_label[2] }}">{{ product.status_label[1] }}</span>
						</td>
						<td class="text-right">
							<a href="{{ url_for('admin.edit_product', rid=product.sku) }}" class="btn btn-link" data-toggle="tooltip" data-original-title="{{ _('Edit') }}">
								{{ _('Edit') }}
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</form>

		{% import "block/_macros.html" as macros %}
		<div class="pagesbar">
			<div class="pull-left">
				<div class="pages-entries">
					Showing {{ paginated_products.offset_start }} to {{ paginated_products.offset_end }} of {{ paginated_products.total }} entries (total {{ paginated_products.pages }} pages)
				</div>
			</div>
			<div class="pull-right">
				{{ macros.pagination_widget(paginated_products, '.show_products') }}
			</div>
		</div>

	</div>

</div>
{% endblock %}