<table class="table table-bordered m-t-20">
	<thead>
		<tr>
			<th class="text-center">{{ _('Image') }}</th>
			<th class="text-center">{{ _('Serial No.') }}</th>
			<th class="text-center">{{ _('Price') }}</th>
			<th class="text-center">{{ _('Model') }}</th>
			<th class="text-center">{{ _('Weight') }}</th>
			<th>{{ _('Remark') }}</th>
			<th class="text-right">{{ _('Action') }}</th>
		</tr>
	</thead>
	<tbody>
		{% for sku in product_skus %}
		<tr id="tr_sku_{{ sku.serial_no }}">
			<td class="text-center">
				<img src="{{ sku.cover.view_url }}" width="60px">
			</td>
			<td class="text-center">
				{{ sku.serial_no }}
			</td>
			<td class="text-center">
				{{ sku.sale_price }}
			</td>
			<td class="text-center">
				<label class="label label-danger">{{ sku.s_model }}</label>
			</td>
			<td class="text-center">
				{{ sku.s_weight}}
			</td>
			<td>
				{{ sku.remark }}
			</td>
			<td class="text-right">
				<a href="{{ url_for('admin.edit_sku', rid=sku.serial_no) }}" class="btn btn-link ajax-modal" data-modal="sku-modal" data-toggle="tooltip" data-original-title="{{ _('Edit') }}">
					{{ _('Edit') }}
				</a>
				<a href="{{ url_for('admin.delete_sku', rid=sku.serial_no) }}" class="btn btn-link ajax-delete-sku" data-toggle="tooltip" data-original-title="{{ _('Remove') }}">
					{{ _('Remove') }}
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<script type="text/javascript">
	$('.ajax-delete-sku').click(function () {
		var post_url = $(this).attr('href');
		$.post(post_url, {'csrf_token': csrf_token}, function (result) {
			if (result.success) {
				$('#tr_sku_'+ result.data.id).remove();
			}
		}, 'json');
		return false;
	});
</script>